.container {
    background-color: var(--bgSoft);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-flow: row wrap;
}

.form {
    width: 50%;
}

.input {
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 98%;
    margin: 15px 0;
    background-color: #2e374a;
    color: #fff;
}

.formbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    text-align: center;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    width: 20%;
    font-weight: 600;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
}

.selectContainer {
    display: flex;
    gap: 12px;
    width: 99%;
}

.select {
    width: 95%;
    padding: 12px;
    border-radius: 8px;
    background-color: #2e374a;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
}