.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgSoft);
    padding: 15px 20px;
    border-radius: 10px;
    position: sticky;
    top: 0px;
}

.title {
    text-transform: capitalize;
    color: var(--textSoft);
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}