.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: var(--bgSoft);
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
}

.form {
    width: 100%;
}

.input {
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 98%;
    margin: 15px 0;
    background-color: #2e374a;
    color: #fff;
}

.formbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    text-align: center;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    width: 40%;
    font-weight: 600;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
}